<% if listing.errors.any? %>
    <% for error in listing.errors.full_messages %>
        <p><%= error %></p>
    <% end %>
<% end %>

<%= form_with model: listing, local: true do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :start_date %>
        <%= form.date_field :start_date %>
    </div>
    <div>
        <%= form.label :end_date %>
        <%= form.date_field :end_date %>
    </div>
    <div>
        <%= form.label :curator %>
        <%= form.text_field :curator %>
    </div>
    <div>
        <%= form.label :exhibit_patron %>
        <%= form.text_field :exhibit_patron %>
    </div>
    <div>
        <%= form.label :photo_credit %>
        <%= form.text_area :photo_credit %>
    </div>

    <div>
        <%= form.label :price, "Price (in cents)" %>
        <%= form.number_field :price, min: 0 %>
    </div>
    <div>
        <%= form.label :pic %>
        <%= form.file_field :pic, accept: "/image/png,image/gif,image/jpeg,image/jpg" %>
    </div>
    <div>
        <%= form.collection_check_boxes :style_ids, style, :id, :name %>
    </div>

<%# :museum_id, :status %>

    <%= form.submit %>
<% end %>