<section>
    <div>
        <% if @listing.pic.attached? %>
        <%= image_tag @listing.pic %>
        <% end %>
    </div>

    <div>
        <h3 class="museum-headings">Photo Credit:</h3>
        <p class="museum-p"><%= @listing.photo_credit %>
    </div>

    <div>
        <h3 class="museum-headings">Museum:</h3>
        <p class="museum-p"><%= @listing.museum.name %>
    </div>

    <div>
        <h3 class="museum-headings">Title:</h3>
        <p class="museum-p"><%= @listing.title %>
    </div>

    <div>
        <h3 class="museum-headings">Name:</h3>
        <p class="museum-p"><%= @listing.name %>
    </div>

    <div>
        <h3 class="museum-headings">Description:</h3>
        <p class="museum-p"><%= @listing.description %>
    </div>

    <div>
        <h3 class="museum-headings">Start Date:</h3>
        <p class="museum-p"><%= @listing.start_date.strftime("%d %B, %Y")  %>
    </div>

    <div>
        <h3 class="museum-headings">End Date:</h3>
        <p class="museum-p"><%= @listing.end_date.strftime("%d %B, %Y") %>
    </div>

    <div>
        <h3 class="museum-headings">Curator:</h3>
        <p class="museum-p"><%= @listing.curator %>
    </div>

    <div>
        <h3 class="museum-headings">Styles:</h3>
            <% @listing.styles.each do |style| %>
        <p class="museum-p"><%= style.name %>
            <% end %>
    </div>

    <div>
        <h3 class="museum-headings">Exhibit Patron:</h3>
        <p class="museum-p"><%= @listing.exhibit_patron %>
    </div>

    <div>
        <h3 class="museum-headings">Price:</h3>
        <p class="museum-p"><%= @dollars.to_f %>
    </div>

<% if user_signed_in? %>
<button class="button" data-stripe="buy">Book ticket</button>
<% else %>
<%= link_to "Sign in to buy this ticket", new_user_session_path %>
<% end %>

<script src="https://js.stripe.com/v3/"></script>

<script>
    document.querySelector("[data-stripe='buy']").addEventListener("click", () => {
        const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public) %>");
        
        stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
        });
    });
</script>