<h1>works!</h1>

<section>
    <p>
        <b>Title:</b>
        <%= @listing.title %>
    <p>

    <p>
        <b>Name:</b>
        <%= @listing.name %>
    <p>

    <p>
        <b>Description:</b>
        <%= @listing.description %>
    <p>

    <p>
        <b>Start Date:</b>
        <%= @listing.start_date %>
    <p>

    <p>
        <b>Start Date:</b>
        <%= @listing.start_date %>
    <p>

    <p>
        <b>End Date:</b>
        <%= @listing.end_date %>
    <p>

    <p>
        <b>Curator:</b>
        <%= @listing.curator %>
    <p>

    <p>
        <b>Exhibit Patron:</b>
        <%= @listing.exhibit_patron %>
    <p>

    <p>
        <b>Photo Credit:</b>
        <%= @listing.photo_credit %>
    <p>

    <p>
        <b>Museum:</b>
        <%= @listing.museum_id %>
    <p>

    <p>
        <b>Price:</b>
        <%= @listing.price %>
    <p>

    <p>
        <b>Status:</b>
        <%= @listing.status %>
    <p>
</section>