<h1>Navigation partial</h1>

<section id="nav-left" >
    <%= link_to "Museums", museums_path %>
    <%= link_to "Exhibits", listings_path %>
</section>

<section id="nav-left">
    <div>
        <% if current_user %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path %>
            <%= link_to "Log in", new_user_session_path %>
        <% end %>
    </div>

        <% if user_signed_in? %>
            <% unless current_user.museum %>
                <%= link_to "Add Museum", new_museum_path %>
            <% else %>
                <%= link_to "Update Museum", edit_museum_path %>
            <% end %>
        <% end %>
</section>