<h1>Museum show works!</h1>

<section>
    <p>
        <b>Name:</b>
        <%= @museum.name %>
    </p>

    <p>
        <b>Description:</b>
        <%= @museum.description %>
    </p>

    <p>
        <b>Opening Time:</b>
        <%= @museum.opening_time.strftime("%I:%M %p") %>
    </p>

    <p>
        <b>Closing Time:</b>
        <%= @museum.closing_time.strftime("%I:%M %p") %>
    </p>

    <p>
        <b>Wheelchair Accessible:</b>
        <%= @museum.wheelchair_accessible %>
    </p>

    <p>
        <b>Street:</b>
        <%= @museum.street %>
    </p>

    <p>
        <b>City:</b>
        <%= @museum.city %>
    </p>

    <p>
        <b>Country:</b>
        <%= @museum.country %>
    </p>

    <p>
        <% if @museum.pic.attached? %>
            <b>Image:</b>
            <br>
            <%= image_tag @museum.pic %>
        <% end %>
    </p>

    <% @museum.listings.each do |listing| %>
        <% if listing.pic.attached? %>
            <p><%= image_tag listing.pic %></p>
                <% else %>
            <p><%= image_tag "listingdefault.jpeg" %></p>
                <% end%>
    <%= listing.title %>
    <%= listing.start_date %>
    <%= listing.end_date %>
    <%= listing.price %>
    <% end %>
</section>