<h1>Museum show works!</h1>

<body>
    <section>
        <p>
            <h3>Name:</h3>
            <%= @museum.name %>
        </p>

        <p>
            <h3>Description:</h3>
            <%= @museum.description %>
        </p>

        <p>
            <h3>Opening Time:</h3>
            <%= @museum.opening_time.strftime("%I:%M %p") %>
        </p>

        <p>
            <h3>Closing Time:</h3>
            <%= @museum.closing_time.strftime("%I:%M %p") %>
        </p>

        <p>
            <h3>Wheelchair Accessible:</h3>
            <%= @museum.wheelchair_accessible %>
                    <% if museum.wheelchair_accessible == true %>
                        <p><%= Yes %></p>
                    <% else %>
                        <p><%= No %></p>
                    <% end%>
                <% end %>
        </p>

        <p>
            <h3>Street:</h3>
            <%= @museum.street %>
        </p>

        <p>
            <h3>City:</h3>
            <%= @museum.city %>
        </p>

        <p>
            <h3>Country:</h3>
            <%= @museum.country %>
        </p>

        <p>
            <% if @museum.pic.attached? %>
                <h3>Image:</h3>
                <%= image_tag @museum.pic %>
            <% end %>
        </p>

        <% @museum.listings.each do |listing| %>
            <% if listing.pic.attached? %>
                <p><%= image_tag listing.pic %></p>
                    <% else %>
                <p><%= image_tag "listingdefault.jpeg" %></p>
                    <% end%>
        <%= listing.title %>
        <%= listing.start_date %>
        <%= listing.end_date %>
        <%= listing.price %>
        <% end %>
    </section>
</body>